## Docker Compose file để khởi tạo 3 container:
# services:
#   # 1. Container API của bạn
#   user-api:
#     build: . # Tự động build Dockerfile trong thư mục hiện tại
#     ports:
#       - "8386:5000"
#     depends_on:
#       - db
#       - redis
#     environment:
#       - MONGO_URL=mongodb://db:27017/userdb
#       - REDIS_URL=redis://redis:6379
#     restart: always

#   # 2. Container MongoDB (Database)
#   db:
#     image: mongo:latest
#     volumes:
#       - mongodb_data:/data/db # Lưu dữ liệu thật vào ổ cứng, không mất khi tắt container

#   # 3. Container Redis (Hàng đợi/Cache)
#   redis:
#     image: redis:alpine

# volumes:
#   mongodb_data: # Khai báo ổ đĩa ảo để lưu trữ dữ liệu lâu dài


## Phiên bản Docker Compose file với bảo mật tài khoản DB hơn
# services:
#   user-api:
#     build: .
#     ports:
#       - "8386:5000"
#     depends_on:
#       - db
#     environment:
#       # Kết nối dùng User/Pass đã khai báo
#       - MONGO_URL=mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASSWORD}@db:27017/${MONGO_DB_NAME}?authSource=admin
#       - REDIS_URL=redis://redis:6379
#     restart: always

#   db:
#     image: mongo:4.4.18
#     environment:
#       # Thiết lập tài khoản Admin cho MongoDB khi khởi tạo lần đầu
#       - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
#       - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
#     volumes:
#       - mongodb_data:/data/db

#   redis:
#     image: redis:alpine

# volumes:
#   mongodb_data:

## Phiên bản Docker Compose file hoàn chỉnh dùng để triển khai thực tế co tu dong CI/CD
# services:
#   user-api:
#     image: nashydawg/user-api:latest
#     ports:
#       - "8386:5000"
#     depends_on:
#       - db
#     environment:
#       # Kết nối dùng User/Pass đã khai báo
#       - MONGO_URL=mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASSWORD}@db:27017/${MONGO_DB_NAME}?authSource=admin
#       - REDIS_URL=redis://redis:6379
#     restart: always

#   db:
#     image: mongo:latest
#     environment:
#       # Thiết lập tài khoản Admin cho MongoDB khi khởi tạo lần đầu
#       - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
#       - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
#     volumes:
#       - mongodb_data:/data/db

#   redis:
#     image: redis:alpine

# volumes:
#   mongodb_data:



# phien ban docker-compose.yml su dung Nginx lam reverse proxy
# services:
#   user-api:
#     image: hoc_compose-user-api:latest
#     # Bạn có thể bỏ phần ports: - "8386:5000" vì giờ Nginx sẽ lo việc này
#     networks:
#       - my-network

#   nginx:
#     image: nginx:latest
#     ports:
#       - "80:80"
#     volumes:
#       - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
#     depends_on:
#       - user-api
#     networks:
#       - my-network

# networks:
#   my-network:
#     driver: bridge



services:
  db:
    image: mongo:latest
    restart: always # Tự khởi động lại nếu bị sập
    volumes:
      - mongo-data:/data/db # Lưu dữ liệu vào ổ cứng, không lo mất code
    networks:
      - devops-net

  user-api:
    image: nashydawg/user-api:latest
    restart: always
    environment:
      - MONGO_URI=mongodb://db:27017/userdb
    depends_on:
      - db
    networks:
      - devops-net

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - user-api
    networks:
      - devops-net

networks:
  devops-net:
    driver: bridge

volumes:
  mongo-data: # Khai báo khu vực lưu trữ dữ liệu DB